{% extends 'base.html.twig' %}

{% block title %}Semi-Forma !
{% endblock %}

{% block body %}

	<h1>Bienvenue sur Semi-Forma !</h1>

	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Promotions</h5>
				<div class="card-text">
					<p class="bigNumber">{{nombrePromotions}}</p>
					<p>
						promotions nous ont été confiés
					</p>
				</div>
			</div>
			<div class="card-footer cardFooter">
				<small class="text-muted">{{ block("indexPromotionButton", 'buttons.html.twig') }}</small>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Nos partenaires</h5>
				<div class="card-text">
					<p class="bigNumber">{{nombreOrganismes}}</p>
					<p>
						OF nous font confiance
					</p>
				</div>
			</div>
			<div class="card-footer cardFooter">
				<small class="text-muted">{{ block("indexOrganismeButton", 'buttons.html.twig') }}</small>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Candidats</h5>
				<div class="card-text">
					<p class="bigNumber">{{nombreCandidats}}</p>
					<p>
						C'est le nombre de candidats que nous formons
					</p>
				</div>
			</div>
			<div class="card-footer cardFooter">
				<small class="text-muted">{{ block("indexCandidatButton", 'buttons.html.twig') }}</small>
			</div>
		</div>
	</div>
{% endblock %}
