{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Formations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Intitule</th>
                <th>OF</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.intitule }}</td>
                <td><a href="{{path('app_organisme_show', {'id': formation.organisme.id})}}">{{formation.organisme}}<a/></td>
                <td>
                    <a class='btn btn-primary' role='button' href="{{ path('app_formation_show', {'id': formation.id}) }}">Détails</a>
                    <a class='btn btn-primary' role='button' href="{{ path('app_formation_edit', {'id': formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class='btn btn-primary' role='button' href="{{ path('app_formation_new') }}">Nouveau</a>
{% endblock %}
