{% extends 'base.html.twig' %}

{% block title %}Session
{% endblock %}

{% block body %}
	<h1>Session</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Nom</th>
				<td>{{ session.nom }}</td>
			</tr>
			<tr>
				<th>Dates</th>
				<td>Du
					{{ session.dateDebut ? session.dateDebut|date('Y-m-d') : '' }}
					au
					{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Promotion</th>
				<td>
					<a href={{ url('app_promotion_show', {id: session.promotion.id} )}}>{{session.promotion}}</a>
				</td>
			</tr>
			{% if session.salle %}
                {% for item in session.salle %}
				<tr>
					<th>Salle</th>
					<td>
						<a href={{ url('app_salle_show', {id: item.id} )}}>{{item.nom}}
					</td>
				</tr>
                {% endfor %}
			{% endif %}
		</tbody>
	</table>

	<a class='btn btn-primary' role='button' href="{{ path('app_session_index') }}">Retour</a>

	<a class='btn btn-primary' role='button' href="{{ path('app_session_edit', {'id': session.id}) }}">Modifier</a>

	{{ include('session/_delete_form.html.twig') }}
{% endblock %}
