{% extends 'base.html.twig' %}

{% block title %}Organisme index{% endblock %}

{% block body %}
    <h1>Organisme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisme in organismes %}
            <tr>
                <td>{{ organisme.nom }}</td>
                <td>{{ organisme.adresse }}</td>
                <td>{{ organisme.tel }}</td>
                <td>{{ organisme.mail }}</td>
                <td>
                    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_show', {'id': organisme.id}) }}">Détails</a>
                    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_edit', {'id': organisme.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_new') }}">Nouveau</a>
{% endblock %}
