{% extends 'base.html.twig' %}

{% block title %}Organisme{% endblock %}

{% block body %}
    <h1>Organisme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ organisme.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ organisme.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ organisme.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ organisme.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_index') }}">Retour</a>

    <a class='btn btn-primary' role='button' href="{{ path('app_organisme_edit', {'id': organisme.id}) }}">Modifier</a>

    {{ include('organisme/_delete_form.html.twig') }}
{% endblock %}
