{% extends 'base.html.twig' %}

{% block title %}Formateur index{% endblock %}

{% block body %}
    <h1>Formateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formateur in formateurs %}
            <tr>
                <td>{{ formateur.nom }}</td>
                <td>{{ formateur.prenom }}</td>
                <td>{{ formateur.mail }}</td>
                <td>{{ formateur.tel }}</td>
                <td>
                    <a class='btn btn-primary' role='button' href="{{ path('app_formateur_show', {'id': formateur.id}) }}">Détails</a>
                    <a class='btn btn-primary' role='button' href="{{ path('app_formateur_edit', {'id': formateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class='btn btn-primary' role='button' href="{{ path('app_formateur_new') }}">Nouveau</a>
{% endblock %}
