{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% block body %}
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ formateur.mail }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ formateur.tel }}</td>
            </tr>
            <tr>
                <th>Sessions à venir</th>
                <td>
                    <ul>
                        {% for session in formateur.sessions %}
                            {% if session.dateFin > date("now") %}
                            <li>
                            <a href={{ url('app_session_show', {id: session.id} )}}>
                            {{ session.nom }} : {{session.dateDebut | date('d/m/y')}} au {{session.dateFin | date('d/m/y')}}
                            </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-primary' role='button' href="{{ path('app_formateur_index') }}">Retour</a>

    <a class='btn btn-primary' role='button' href="{{ path('app_formateur_edit', {'id': formateur.id}) }}">Modifier</a>

    {{ include('formateur/_delete_form.html.twig') }}
{% endblock %}
